@page "/registration"
@using Microsoft.AspNetCore.Http
@using Plants.Api.Domain.Dtos
@using Plants.WA.Services
@using Plants.WA.Shared


@inject NavigationManager NavigationManager
@inject NavigationManager NavigationManager


@using Plants.Domain.Domain.Dtos;
@using Plants.WA.Services
@using Plants.WA.Shared

<div class="container h-100">
  
    <div class="row align-items-center h-100">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Registrarse</h3>
                    <form>
                        <div class="form-group">
                            <label for="inputEmail">Correo electrónico</label>
                            <input type="email" class="form-control" @bind="@inputEmail" id="inputEmail"  required placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Contraseña</label>
                            <input type="password" class="form-control" @bind="@inputPassword" id="inputPassword" required placeholder="Ingresa tu contraseña">
                        </div>
                        <div class="text-center" style="margin-top: 1rem;">
                            <button type="button" class="btn btn-primary" @onclick="Registrarse">Registrarse</button>
                            <button type="button" class="btn btn-secondary" @onclick="VolverAlInicio">Volver a la pagina de Inicio</button>
                        </div>                      
                    </form>                
                  
                </div>
                @if (invalidInput)
                {

                    <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header">Atención</div>
                        <div class="card-body">
                            <p class="card-text">Los campos introducidos no son correctos.</p>
                        </div>
                    </div>
                }
                @if (wrongLogin)
                {
                    <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header">Atención</div>
                        <div class="card-body">
                            <p class="card-text">Correo electrónico o contraseña incorrectos.</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@code {

    [Inject]
    public IUserService UserService { get; set; }
    [CascadingParameter]
    public string userInfo { get; set; }
    private string inputEmail { get; set; }
    private string inputPassword { get; set; }

    private bool invalidInput { get; set; } = false;
    private bool wrongLogin { get; set; } = false;


    private async void Registrarse()
    {

        if (!string.IsNullOrEmpty(inputEmail) || !string.IsNullOrEmpty(inputPassword))
        {
            var loginUser = new UserDTO
                {
                    Name = inputEmail,
                    Password = inputPassword
                };            

            if (UserService.Create(loginUser).IsCompletedSuccessfully)

            {
                // Iniciar sesión exitosamente
                
                NavigationManager.NavigateTo("/");
            }
            else
            {
                // Mostrar mensaje de error
                Console.WriteLine("Correo electrónico o contraseña incorrectos.");
                wrongLogin = true;
            }
           
        }
        else
        {
            invalidInput = true;
        }
    }

    private void VolverAlInicio()
    {
        NavigationManager.NavigateTo("/");
    }


 }

