@page "/"
@inject NavigationManager NavigationManager


@using Plants.WA.Services
@using Plants.WA.Shared

<div class="container h-100">
  
    <div class="row align-items-center h-100">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Iniciar sesión</h3>
                    <form>
                        <div class="form-group">
                            <label for="inputEmail">Correo electrónico</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Ingresa tu correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Contraseña</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Ingresa tu contraseña">
                        </div>
                        <div class="text-center" style="margin-top: 1rem;">
                            <button type="button" class="btn btn-primary" @onclick="IniciarSesion">Iniciar sesión</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    public Usuario usuario = new Usuario();
    [CascadingParameter]
    public string userInfo { get; set; }

    private void IniciarSesion()
    {
        if (usuario.CorreoElectronico == "ale" && usuario.Contrasena == "ale")
        {
            // Iniciar sesión exitosamente
            Console.WriteLine("Iniciando sesión...");
           

        }
        else
        {
            // Mostrar mensaje de error
            Console.WriteLine("Correo electrónico o contraseña incorrectos.");
            userInfo = "ale";
        }
      

        NavigationManager.NavigateTo("main");
    }


 

    public class Usuario
    {
        public string CorreoElectronico { get; set; }
        public string Contrasena { get; set; }
    }
}
