@page "/"
@using Radzen.Blazor

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Logeate en Planter

<div class="container-fluid">
    <div class="row px-3">
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Password</RadzenText>
                <RadzenPassword Change=@(args => OnChange(args, "Password")) Class="w-100" />
            </RadzenCard>
        </div>      
    </div>
</div>



@code {
  

    void OnChange(string value, string name)
    {
        
    }
}