@page "/main"
@using Plants.WA.Shared




<NavMenu />
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Título de la Card</h5>
            <p class="card-text">@alfa</p>
            <button class="btn btn-primary">Botón 1</button>
            <button class="btn btn-secondary">Botón 2</button>
        </div>
    </div>
</div>

@code {

    public string alfa="";


}
