@page "/main"
@using Plants.Api.Domain.Dtos;
@using Plants.WA.Services;
@using Plants.WA.Shared




<NavMenu />
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    
    <div class="card text-center">
        <h2>Plantas del dia</h2>
        <div class="card-body">
             @if (plants.Any()==false)
        {
                <p>Cargando datos...</p>
            }
            else
            {
               
                    <h5 class="card-title">@plant.Id</h5>
                    <p class="card-text"></p>
                    <button class="btn btn-primary" @onclick="()=>Like(plant)">Like</button>
                    <button class="btn btn-secondary" @onclick="()=>Dislike(plant)">Dislike</button>
                
            }
        </div>
    </div>
</div>

@code {
    [Inject]
    private IPlantRecordService PlantRecordService { get; set; }

    private List<PlantRecordDTO> plants { get; set; } = new List<PlantRecordDTO>();
    private PlantRecordDTO plant { get; set; } = new PlantRecordDTO();


    protected override async Task OnInitializedAsync()
    {
        plants = await PlantRecordService.GetAllPlantsByPlantId("f2217c4a-cbf1-40f7-9883-ef89df250823");
        plant = plants.FirstOrDefault();
    }

    private void Like(PlantRecordDTO plantRecord)
    {
        plantRecord.Votes = plantRecord.Votes +1;
        PlantRecordService.Update(plantRecord);
        plants.Remove(plantRecord);
        if (plants.Any())
        {
            plant = plants.FirstOrDefault();
        }
    }
    private void Dislike(PlantRecordDTO plantRecord)
    {
        if (plantRecord.Votes >= 1)
        {
            plantRecord.Votes = plantRecord.Votes - 1;
            PlantRecordService.Update(plantRecord);
        }

        
        plants.Remove(plantRecord);
        if (plants.Any())
        {
            plant = plants.FirstOrDefault();
        }
       
    }
}
