@page "/newPlantRecord/{Id}"
@using Plants.Api.Domain.Dtos
@using Plants.WA.Services
@using Plants.WA.Shared
@inject NavigationManager NavigationManager
<NavMenu />
<h3>NewPlantDiary</h3>
<form>
    <div class="form-group">
        <label>
            <input type="checkbox" @bind="@FertiliserQuantity" /> Se ha fertilizado
        </label>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" @bind="@IsWatered" /> Se ha regado
        </label>
    </div>
    <div class="form-group">
        <label for="Observation">Observation:</label>
        <textarea class="form-control" id="Observation" rows="5" @bind="@Observation"></textarea>
    </div>
    <button type="button" class="btn btn-primary" @onclick="@Enviar">Enviar</button>
    @if (spinner == true)
    {
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Actualizando Registro...
        </button>
    }
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    private string? Observation { get; set; }
    public bool IsWatered { get; set; }
    public bool FertiliserQuantity { get; set; }
    private bool spinner = false;
    private string UserId { get; set; }
    public List<PlantRecordDTO> plants { get; set; } = new List<PlantRecordDTO>();

    [Inject]
    public IPlantRecordService PlantRecordService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        plants = await PlantRecordService.GetAllPlantsByPlantId(Id);
        UserId = plants.FirstOrDefault().UserId;

    }

    private async void Enviar()
    {
        var createPlantRecord = new PlantRecordDTO
        {
            PlantId=Id,
            Observation=Observation,
            IsWatered=IsWatered,
            FertiliserQuantity=FertiliserQuantity,
            UserId=UserId
        };

       await CrearPlantRecord(createPlantRecord);

       
        spinner = true;
        await Task.Delay(TimeSpan.FromSeconds(3));
        spinner = false;

        NavigationManager.NavigateTo($"PlantRecord/{Id}");

    }
}
