@page "/plantRecord/{Id}"
@using Plants.Api.Domain.Dtos
@using Plants.WA.Services
@using Plants.WA.Shared
@inject NavigationManager NavigationManager
<NavMenu />
<h3>Plants</h3>
<div class="row">
    <button type="button" class="btn btn btn-success" @onclick="@NuevoRegistro">Editar</button>

    @if (plants == null && plants.Any())
    {
        <p>Cargando datos...</p>
    }
    else
    {
        @foreach (var data in plants)
        {
            @if (data.IsFertilised) { IsFertilisedTxt = "Si"; } else { IsFertilisedTxt = "No"; }
            @if (data.IsWatered) { IsWateredTxt = "Si"; } else { IsWateredTxt = "No"; }

    ;

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title"> Se fertilizó:  @IsFertilisedTxt</p>
                        <p class="card-text"> Se regó: @IsWateredTxt</p>
                        <p class="card-text">Observaciones: @data.Observation</p>
                        <button  type="button" class="btn btn-primary">Modificar</button>
                    </div>
                </div>
            </div>
        }
    }


</div>


<button type="button" class="btn btn-danger btn-lg btn-block" @onclick="NuevoRegistro">Nueva Registro</button>


@code {
    [Parameter]
    public List<PlantRecordDTO> plants { get; set; } = new List<PlantRecordDTO>();
    [Parameter]
    public string? Id { get; set; }
    [Inject]
    public IPlantRecordService PlantRecordService { get; set; }
    private string IsFertilisedTxt = "";
    private string IsWateredTxt = "";

    protected override async Task OnInitializedAsync()
    {
        plants = await PlantRecordService.GetAllPlantsByPlantId(Id);

    }

    private void NuevoRegistro()
    {
           

        NavigationManager.NavigateTo($"newPlantRecord/{Id}");
    }
}
