@page "/plantRecord"
@inject NavigationManager NavigationManager
<h3>Plants</h3>



<button type="button" class="btn btn-danger btn-lg btn-block" @onclick="NuevoRegistro">Nueva Planta</button>
<Plants.WA.Shared.CardCollection></Plants.WA.Shared.CardCollection>

@code {
    private void NuevoRegistro()
    {
        NavigationManager.NavigateTo("newPlantRecord");
    }
}
