@page "/Plants"
@using Plants.Api.Domain.Dtos
@using Plants.WA.Services
@inject NavigationManager NavigationManager
<div class="row">
    <button type="button" class="btn btn btn-success" @onclick="@NuevaPlanta">Nueva Planta</button>

    @if (plants == null && plants.Any())
    {
        <p>Cargando datos...</p>
    }else{
        @foreach (var data in plants)
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@data.Nombre</h5>
                        <p class="card-text">@data.Especie</p>
                        <button type="button" class="btn btn-primary" @onclick="@Observar">Enviar</button>
                    </div>
                </div>
            </div>
        }
    }
  
    
</div>

@code {
    [Parameter]
    public List<PlantDTO> plants { get; set; } = new List<PlantDTO>();
    public bool dataLoaded=false;

    [Inject]
    public IPlantService PlantService { get; set; }
    

    protected override async Task OnInitializedAsync()
    {
        plants = await PlantService.GetAllPlantsByUserId("ale");
        
    }
    
    private void Observar()
    {
        NavigationManager.NavigateTo("PlantRecord");
    }

    private void NuevaPlanta()
    {
        NavigationManager.NavigateTo("newPlant");
    }
}
